/**
 * Shongjukti Styles
 *
 * @package    laravel
 * @subpackage shongjukti
 */

.attachment-row{
	border: 1px solid #ededed;
	border-radius: 4px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-bottom: 10px;
}

@media (min-width: 769px) {
	.attachment-row{
		border: none;
		border-bottom: 1px solid #ededed;
		border-radius: 0;
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 0;

		&:last-child{
			border-bottom: 0;
		}
	}
}

.attachment-counter{
	display: inline-block;
	background-color: #ededed;
	border: 1px solid #bbb;
	padding: 5px;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 1;
	border-radius: 50%;
	position: absolute;
	left: 10px;
	top: 7px;
}

.attachment-type-group{
	margin-left: 40px;
}

@media (max-width: 768px) {
	.attachment-view .attachment-type-group{
		margin-bottom: 30px;
	}
}

.attachment-browse-label{
	display: none;
}

.js .attachment-browse-label{
	display: block;
}

.js .btn-file {
	position: relative;
	overflow: hidden;
}

.js .btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}
